* {
  
  box-sizing: border-box;
}

body {
  background-color: #f5f1e8;
  color: #2f3e46;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

#all-contents {
  max-width: 900px;
  margin: auto;
}
nav {
  background-color: #52796f;
  color:white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

nav h1 {
  margin: 0 0 10px 0;
}
#nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav-li a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  gap: 20px;
}
.content {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.content h2 {
  color: #354f52;
}
#interests {
  margin-top: 20px;
  background-color: #cad2c5;
  padding: 15px;
  border-radius: 10px;
}
.sidebar {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
}
.sidebar-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
}